* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body header {
  align-items: center;
  text-align: center;
  background-color: rgb(34, 51, 68);
  font-size: 40px;
  padding: 40px;
  font-weight: bold;
  color: white;
}
body div.A {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 15px;
}
body div.A .text_A {
  text-align: center;
  color: rgb(34, 51, 68);
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
}
body div.A .text_B {
  margin-top: 20px;
  text-align: center;
  color: blue;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
}
body div.A .text_B:hover {
  background-color: black;
}
body section.section1 {
  align-items: center;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: rgb(34, 51, 68);
}
body section.section2,
body .section5 {
  justify-content: center;
  text-align: center;
  padding-top: 10px;
}
body section.section2 .register,
body section.section2 .new_account,
body section.section2 .new_password,
body section.section2 .account,
body section.section2 .password,
body section.section2 .content,
body .section5 .register,
body .section5 .new_account,
body .section5 .new_password,
body .section5 .account,
body .section5 .password,
body .section5 .content {
  align-items: center;
  padding: 5px 0;
}
body section.section2 .register label,
body section.section2 .new_account label,
body section.section2 .new_password label,
body section.section2 .account label,
body section.section2 .password label,
body section.section2 .content label,
body .section5 .register label,
body .section5 .new_account label,
body .section5 .new_password label,
body .section5 .account label,
body .section5 .password label,
body .section5 .content label {
  font-size: 16px;
  color: rgb(34, 51, 68);
}
body section.section2 .register input,
body section.section2 .new_account input,
body section.section2 .new_password input,
body section.section2 .account input,
body section.section2 .password input,
body section.section2 .content input,
body .section5 .register input,
body .section5 .new_account input,
body .section5 .new_password input,
body .section5 .account input,
body .section5 .password input,
body .section5 .content input {
  font-size: 16px;
  color: rgb(34, 51, 68);
  width: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
body section.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
body section.section3 label {
  margin-right: 10px;
}
body section.section4,
body .section6 {
  align-items: center;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 15px;
}
body section.section4 input,
body .section6 input {
  padding: 5px;
  align-items: center;
  text-align: center;
}
body div.messages {
  display: flex;
  align-items: center;
  flex-direction: column;
}
body div.messages .message {
  margin: 10px;
  display: flex;
  align-items: center;
}
body div.messages .message h4 {
  color: rgb(34, 51, 68);
}/*# sourceMappingURL=style.css.map */