* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  header {
    align-items: center;
    text-align: center;
    background-color: rgb(34, 51, 68);
    font-size: 40px;
    padding: 40px;
    font-weight: bold;
    color: white;
  }
  div.A {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // height: 20vh;

    .text_A {
      text-align: center;
      color: rgb(34, 51, 68);
      font-size: 40px;
      font-weight: bold;
      margin-top: 20px;
    }
    .text_B {
      margin-top: 20px;
      text-align: center;
      color: blue;
      font-size: 40px;
      font-weight: bold;
      cursor: pointer;
    }
    .text_B:hover {
      background-color: black;
    }
  }

  section.section1 {
    align-items: center;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: rgb(34, 51, 68);
  }
  section.section2 {
    justify-content: center;
    text-align: center;
    padding-top: 10px;

    .account,
    .password {
      align-items: center;
      padding: 5px 0;

      label {
        font-size: 16px;
        color: rgb(34, 51, 68);
      }

      input {
        font-size: 16px;
        color: rgb(34, 51, 68);
        width: 300px; // 假设您希望设置一个特定宽度
        padding: 10px; // 为输入框添加一些内边距
        margin-bottom: 10px; // 与下一个元素的间距
        border: 1px solid #ccc; // 假设有边框
        border-radius: 4px; // 假设输入框有圆角
      }
    }
  }
  section.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;

    label {
      margin-right: 10px;
    }
  }
  section.section4 {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    input {
      padding: 5px;
      align-items: center;
      text-align: center;
    }
  }
}
